* {
  box-sizing: border-box;
  transition: all 50ms;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

html,
body {
  font-size: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%; /* Needed to fix iOS orientation change bug */
}

body {
  text-rendering: optimizelegibility;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", Georgia, Cambria, Times, "Times New Roman", serif;
  color: #222;
}

sup {
  font-size: .6em;
}

a {
  color: #03b1c0;
  transition: all 250ms;
}

a:hover,
a:active {
  color: #cc4c87;
}

section {
  padding: 2em 1em;
  padding: 6vw 5vw;
}

section.tall {
/*  min-height: 100%;
  min-height: 100vh;*/
}

section.tall {
  padding-top: 2.1em;
  padding-bottom: 2.1em;
  padding-top: 6vw;
  padding-bottom: 6vw;
}


#home img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  max-height: 80%;
}

#home h1 {
  font-size: 2.8em;
  font-size: 14vw;
  text-align: center;
  letter-spacing: -0.025em;
  margin: .125em 0;
}

#home h2 {
  font-size: 1.1em;
  font-size: 5vw;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 0.125em;
  letter-spacing: 0.4em;
  word-spacing: 1.1em;
}

#about p {
  font-size: 1.1em;
  font-size: 4vw;
  line-height: 1.6em;
  text-align: center;
}

#contact h2 {
  font-size: 1.8em;
  font-size: 9vw;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 0.1em;
  word-spacing: .2em;
}

#contact ul {
  font-size: 1.1em;
  list-style: outside none none;
  padding: 0;
  text-align: center;
}

#contact ul li {
  display: inline-block;
  position: relative;
}

#contact ul > li > a {
  font-size: 6vw;
  display: inline-block;
  padding: .4em .6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

footer .legal {
  text-align: center;
}

#home > div,
#contact > div {
  display: block;
  float: left;
  width: 100%;
}

@media all and (orientation:landscape) {

  #home img {
    max-width: 100%;
    max-height: 100%;
  }

  #home > div {
    width: 40%;
  }

  #home > div + div {
    width: 60%;
  }

  #home h1 {
    font-size: 1.9em;
    font-size: 7vw;
    padding-top: 1.3em;
  }

  #home h2 {
    font-size: .75em;
    font-size: 2.6vw;
  }


  #contact > div {
    width: 50%;
  }

  #contact > div + div {
    width: 50%;
  }

  #contact h2 {
    font-size: 5vw;
    margin: 0;
    padding-top: .9em;
  }

  #contact ul {
    margin: 0;
  }

  #contact ul > li > a {
    font-size: 3vw;
  }

}
