---
layout: default
---
<section id="home" class="tall clearfix">
  <div>
    <img src="{{ "/img/logo.png" | prepend: site.github.url }}" alt="Stefan Maric Logo" />
  </div>
  <div>
    <h1>Stefan Maric</h1>
    <h2>Web Developer</h2>
  </div>
</section>
<section id="about" class="tall">
  <p>Hi there! I'm Stefan Alexander Maric, a twenty something Venezuelan Web Developer,
  MongoDB Certified Professional<sup>SM</sup>, and Information Engineering student.
  I also love squirrels.
  </p>
</section>
<section id="what-i-do" class="tall">
  <div>
    <h2>What I do</h2>
  </div>
  <div>
    <p>
      I design and craft web sites and web applications for customers from all kind of industries.
    </p>
  </div>
</section>
<section id="interested" class="tall">
  <div>
    <h2>Interested?</h2>
  </div>
  <div>
    <p>
      Send me an <a href="mailto:me@stefanmaric.com">email</a> or <a href="tel:+584125361889">call me</a> to inquire about cost and availability.
    </p>
  </div>
</section>
<section id="contact" class="tall clearfix">
  <div>
    <h2>
      <span>Not interested?</span>
      <span>Let's be friends!</span>
    </h2>
  </div>
  <div>
    <ul class="clearfix">

      {% if site.author.email %}
      <li>
        <a href="mailto:{{ site.author.email }}">
          Email
        </a>
      </li>
      {% endif %}

      {% if site.linkedin.username %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.linkedin.username }}">
          LinkedIn
        </a>
      </li>
      {% endif %}

      {% if site.facebook.username %}
      <li>
        <a href="https://www.facebook.com/{{ site.facebook.username }}">
          Facebook
        </a>
      </li>
      {% endif %}

      {% if site.twitter.username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter.username }}">
          Twitter
        </a>
      </li>
      {% endif %}

      {% if site.skype.username %}
      <li>
        <a href="skype:{{ site.skype.username }}">
          Skype
        </a>
      </li>
      {% endif %}

      {% if site.google.username %}
      <li>
        <a href="https://plus.google.com/{{ site.google.username }}">
          Google+
        </a>
      </li>
      {% endif %}

      {% if site.github.username %}
      <li>
        <a href="https://github.com/{{ site.github.username }}">
          Github
        </a>
      </li>
      {% endif %}

    </ul>
  </div>
</section>
