<footer>
  
  <ul>
    <li>{{ site.title }}</li>
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  </ul>

  <ul>
    {% if site.github_username %}
    <li>
      Github:
      <a href="https://github.com/{{ site.github_username }}">
        {{ site.github_username }}
      </a>
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      Twitter:
      <a href="https://twitter.com/{{ site.twitter_username }}">
        {{ site.twitter_username }}
      </a>
    </li>
    {% endif %}
  </ul>

  <p>{{ site.description }}</p>

  <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved. </p>

</footer>
