
// VARIABLES
////////////////////////////////////////////////////////////////////////////////

$body-bg: #fff;
$body-color: #333;
$font-family-base: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headings-font-family: "Roboto Slab", Georgia, Cambria, Times, "Times New Roman", serif;
$link-color: #008299;
$link-hover-color: #cc4c87;
