---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#00b3ab"/>

    {% seo %}

    <style type="text/css">
      {% capture include_to_scssify %}
        {% include global.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {{ content }}

    <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto+Slab:700');</style>

    <!-- page specific stylesheets -->
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    <!-- Analytics -->
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
      heap.load("1894816325");
    </script>

    <!-- page specific scripts -->
    {% for script in page.scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}

  </body>
</html>
